<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carteira de Estudante</title>
    <link rel="stylesheet" href="cateirinha_Estudante.css">
    <script src="https://unpkg.com/vue@3"></script>
</head>
<body>
    <div id="app">
        <div class="formulario">
            <h2>Formulário</h2>
            <input v-model="nome" placeholder="Nome">
            <input v-model="matricula" placeholder="Matrícula">
            <input v-model="curso" placeholder="Curso">
            <input v-model="informacoes" placeholder="Informações">
        </div>

        <div class="carteirinha">
            <h2>Carteirinha de Estudante</h2>
            <p>Nome: {{ nome }}</p>
            <p>Instituição: {{ matricula }}</p>
            <p>Curso: {{ curso }}</p>
            <p>Informações: {{ informacoes }}</p>
        </div>
    </div>
    <script src="carteirinha_Estudante.js"></script>
</body>
</html>